# Sao chép thành .env.docker (file này được gitignore):
#   cp .env.docker.example .env.docker
# Khóa chỉ dùng local dev — đổi cặp khóa riêng nếu triển khai thật.

JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAxzSsKhRTzc/U3aUiEx0N
8GinEMpuz1+sHZvwrpNaEtw3y/p6BV3UYzv24qnQV8ISkEjf70Qjy/ssnA7PGa8+
CnEcXZGVh7IsOoKr6ma3Wlm9zkNSmKnraW8G6X2FpucXQ+TVomqgLnKg/nH8DYUH
hw4H3ppXybU5T/I+JAr9gU8iM95ZzqyBezaWTEoLSz35ZqUhX2ES9uiGCCAvuOFH
fTRkNlxtR2MP5PmkGCaHq1fluFOA1cqU3YeL3BKuvZeZzsM2Xf4Ftm+xFQTKM9xB
dRPyIbRCOURxveUEmBST5QEHgOsIP0Pbw1XboNCgnhIZhZafP3/vT1Gf7vzB+xEi
5QIDAQAB
-----END PUBLIC KEY-----"

AUTH_JWT_ACTIVE_PUBLIC_KEY_PEM="-----BEGIN PUBLIC KEY-----
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAxzSsKhRTzc/U3aUiEx0N
8GinEMpuz1+sHZvwrpNaEtw3y/p6BV3UYzv24qnQV8ISkEjf70Qjy/ssnA7PGa8+
CnEcXZGVh7IsOoKr6ma3Wlm9zkNSmKnraW8G6X2FpucXQ+TVomqgLnKg/nH8DYUH
hw4H3ppXybU5T/I+JAr9gU8iM95ZzqyBezaWTEoLSz35ZqUhX2ES9uiGCCAvuOFH
fTRkNlxtR2MP5PmkGCaHq1fluFOA1cqU3YeL3BKuvZeZzsM2Xf4Ftm+xFQTKM9xB
dRPyIbRCOURxveUEmBST5QEHgOsIP0Pbw1XboNCgnhIZhZafP3/vT1Gf7vzB+xEi
5QIDAQAB
-----END PUBLIC KEY-----"

AUTH_JWT_ACTIVE_PRIVATE_KEY_PEM="-----BEGIN PRIVATE KEY-----
MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQDHNKwqFFPNz9Td
pSITHQ3waKcQym7PX6wdm/Cuk1oS3DfL+noFXdRjO/biqdBXwhKQSN/vRCPL+yyc
Ds8Zrz4KcRxdkZWHsiw6gqvqZrdaWb3OQ1KYqetpbwbpfYWm5xdD5NWiaqAucqD+
cfwNhQeHDgfemlfJtTlP8j4kCv2BTyIz3lnOrIF7NpZMSgtLPflmpSFfYRL26IYI
IC+44Ud9NGQ2XG1HYw/k+aQYJoerV+W4U4DVypTdh4vcEq69l5nOwzZd/gW2b7EV
BMoz3EF1E/IhtEI5RHG95QSYFJPlAQeA6wg/Q9vDVdug0KCeEhmFlp8/f+9PUZ/u
/MH7ESLlAgMBAAECggEAIEw1nxDypsuL5hp6/tcBcTlr344NZJ6iEkmRPqIcwt1k
8okm4C3ese7WpYNbiI7/tthfQ7TW36CsEpVYFgBSsnC1D6VQtX05geG5K+UBf1Wj
hN4SIIxpjbZMTEO8uAXUa36eS0S3DzDTUiMloa+FkUEWHOJbWhSBjqkQ/YOxUcCQ
kdnI19dRKGOPFEcIyMfKCr2CNQ//t+vkLwIeZpuvq6HVat/nSbVjEdTjsP0TUo1+
lGsSJcO21b750sq4SIY0kPMyNwoKU7ErFu1vjiO3s66drcti7Z6KV2Vp1yjYbFB4
zp9eADxdkb/82BFwvPHn5ceiR+Wc6Ofcl5Lv+RYBNQKBgQDljaym6CCqj6FvCHig
qWuSTtIymHIwCNao5DvRaJ1L0FrJfPiudtHQvsN4GZn4lL1Dt/44+RdDyb/UOFm/
kRLUbA28aL105skU5JkwqlUReOyN4sldwvT2Jq0fWtWeqODREdI6urjWy3FCXkQ+
wdnVXwZx3LsDuvk7kpFdSMcV9wKBgQDeJ/C6e5I7bPVupa//pC1bSHAGm2KDG4it
kVhz6kV8d3LbM/kdmKoPMyBQtuMfzCVvZqF2xj3PhzyJZTaNIpzis9m5SKWJeCaO
HeNy5yU29ESXVhfS4/XwhYxd0SRWb8hsnbASwu0QoFniG0tu6svejTmccKABydQO
L/S1QObnAwKBgFakQqY8txepXqUp7V22lIOEfJHcOD0pGNxmSK2hbr1OxvWF1dcD
we2oEt8hypuoiEcnCy011zIe0+il3DoR56mFnymd3uRgt0TLg4Z6w+D0Y1SqZJaf
HxZJQs6y2i4oT7KZp1/DWkC4SOdj7R5CzJVcaHJRfcTKrYduqq8q6PnBAoGARoVf
QZNghES+VHV8PSacz1FbXn2M9BmVdaOh9In1rOEuMK968Q45TcHpDDZCOyHO8GIf
91hO3sYLTYI3ou3N55k4ED0jb1QYyRxry1nc0mkQLQpDXcrHk6aRPGbbpiSt9uzH
q+z83D5Kyh/n/jnCpc8m7qZB5M9w5WALyk3j/okCgYEAw+ggLxQJwoR8QhmZDJQ0
M3pCiVv0BSF3kHdz+lgmLhGqjc95jHfmMkTwNPO7N5ultYJ+2DNKZwbaoV+ZOOr7
akaB5Jker/vi7ck6TA/jC8tWMTXKKrVCpphfDVQCiLt3mgIfec8rTOASiF1UA1Jr
35NKYUdkG62GfHTHLMvbj7o=
-----END PRIVATE KEY-----"
