MONGO_URI=mongodb://mongodb:27017
MONGO_DB=cab_matching_service
REDIS_URL=redis://redis:6379
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
RIDE_ASSIGNED_TOPIC=driver.assigned
MODEL_STORE_PATH=/app/model_store
DRIVER_SERVICE_URL=http://driver-service:3107/api/v1/drivers/available
ETA_SERVICE_URL=http://eta-service:3110/api/v1/eta/calculate
PRICING_SERVICE_URL=http://pricing-service:3101/api/v1/pricing/quote
