MONGO_URI=mongodb://ml-mongodb:27017
MONGO_DB=cab_surge_pricing_service
REDIS_URL=redis://ml-redis:6379
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
MODEL_STORE_PATH=/app/model_store
SURGE_PUSH_INTERVAL_SECONDS=30
SURGE_REDIS_TTL=90
SURGE_RETRAIN_INTERVAL_SECONDS=3600
