NODE_ENV=development
PORT=3105

USER_SERVICE_STORAGE=postgresql
DATABASE_URL=
DATABASE_URL_FILE=

POSTGRES_HOST=user-postgres
POSTGRES_PORT=5432
POSTGRES_DB=cab_booking_user
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PASSWORD_FILE=
POSTGRES_SSL=false

KAFKA_BROKERS=kafka:9092
