PORT=3110
REDIS_URL=redis://redis:6379
KAFKA_BROKERS=kafka:9092

ROUTING_PROVIDER=osrm
TRAFFIC_PROVIDER=heuristic
OSRM_BASE_URL=http://router.project-osrm.org

ETA_CACHE_TTL_SECONDS=30
DRIVER_LOCATION_TTL_SECONDS=300
FALLBACK_AVG_SPEED_KMH=30
ETA_MIN_MINUTES=1
ETA_BIAS_FACTOR=1.0
ETA_BIAS_FACTOR_MIN=0.85
ETA_BIAS_FACTOR_MAX=1.5
ETA_BIAS_PROFILE_TTL_SECONDS=86400
DEFAULT_TRAFFIC_DELAY_FACTOR=1.0
DRIVER_LOCATION_TOPIC=driver.location.updated
ETA_RESULT_TOPIC=eta.result
KAFKA_STARTUP_RETRY_BASE_MS=2000
KAFKA_STARTUP_RETRY_MAX_MS=30000
