NODE_ENV=development
PORT=3101

MONGO_URI=mongodb://mongodb:27017/cab_booking_pricing

KAFKA_BROKERS=kafka:9092
REDIS_URL=redis://redis:6379
SURGE_PRICING_SERVICE_URL=http://surge-pricing-service:8001
